@import './button.scss';
@import url('https://fonts.googleapis.com/css?family=Bangers');

h1 {
    font-size: 80px;
    font-family: 'Bangers', cursive;
    margin-bottom: 20px;
    text-shadow: 2px 2px lightgrey;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
}

.tiles__tile {
    width: 100px;
    height: 100px;
    background-image: url("https://source.unsplash.com/random/500x500");
    background-size: auto;
}

footer {
    font-family: helvetica;
    font-style: italic;
    font-size: 14px;
}

.victory-notice {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-family: 'Bangers', cursive;
    color: black;
    text-shadow: 2px 2px white;
    background-color: white;
    margin: 0;
}